<div class="po-sm-12">
    <p class="id">{{id}}</p>
    <p class="name">Nome: {{name}}</p>
    <img src='{{imageUrlHiRes}}'>
    <div *ngIf="types" class="types">
        <span>Tipos:</span>
        <ul>
            <li *ngFor="let type of types">{{type}}</li>
        </ul>
        
    </div>
    <div *ngIf="attacks" class="table">
        <span>Ataques:</span>
        <table border="1">
            <tr>
                <th>Custo de "mana"</th>
                <th>Nome</th>
                <th>Dano</th>
                <th>Desrição</th>
            </tr>
            <tr *ngFor="let attack of attacks"><td>{{attack.cost}}</td><td>{{attack.name}}</td><td>{{attack.damage}}</td><td>{{attack.text}}</td></tr>
        </table>        
    </div>
    <div *ngIf="weaknesses" class="table">
        <span>Fraquezas:</span>
        <table border="1">
            <tr>
                <th>Tipo</th>
                <th>Valor</th>                
            </tr>
            <tr *ngFor="let weaknesse of weaknesses"><td>{{weaknesse.type}}</td><td>{{weaknesse.value}}</td></tr>
        </table>        
    </div>
    <div *ngIf="resistances" class="table">
        <span>Resistências:</span>
        <table border="1">
            <tr>
                <th>Tipo</th>
                <th>Valor</th>                
            </tr>
            <tr *ngFor="let resistance of resistances"><td>{{resistance.type}}</td><td>{{resistance.value}}</td></tr>
        </table>        
    </div>
    <a href="/" class="button">Voltar</a>
    
    
</div>
